

\BLOCK{ extends "jinja-test.template" }

\BLOCK{block content}
This provides you some additional text from the child block.


\BLOCK{ block content }
 My string: \VAR{my_string}



Loop through the list:
\begin{itemize}
\item
\BLOCK{ for n in my_list }
\VAR{n}
\BLOCK{ endfor }

\end{itemize}


\BLOCK{ endblock }
